.company-title {
    background: linear-gradient(180deg, #2A7CCE 32.29%, #004DA9 100%);
    box-shadow: 0px 12px 29px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 146px 146px;
    width: 100%;
    height: 246px;
}
.company-body{
    width: 100%;
    height:2000px;
}
.company-title {
    text-align: center;
    padding-top: 86px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
    color: white;
}
.searchbar{
    text-align: center;
    justify-content: center;
    margin-top: 55px;
    display: flex;
}

.search-company{
    position: absolute;
    width: 928px;
    height: 46px;
    left: 190px;
    top: 374px;
    
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 88.54%, #C5C4C4 100%);
    border-radius: 10px;
}

.search-button{
    position:absolute;
    left: 1073px;
    top: 374px;
}
.company-button {
    height: 46px;
    width: 46px;
    background: linear-gradient(180deg, #2779CC 0%, #004DA9 100%); 
    border-style: none;
    border-radius: 0 10px 10px 0;;
}


.company-cards-wrapper{
    width: 100%;
    display:grid;
    grid-template-columns: repeat(3, 0.5fr);
    place-content:center;
    gap: 1rem;

    position: relative;
    overflow:hidden;
    top:50px;
}
.company-card {
    overflow: hidden;
    display:grid;
    place-content: center;
    flex-direction: column;
    height: 420px;
    width: 344px;
    background: #FFFFFF;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.3);
    border-radius: 42px;
    float: left;
    margin-bottom: 20px;
    margin-left: 20px;




}

.company-image{
    height: 148px;
    width: 100%;
    border-radius : 58px 58px 0 0;
    background-size: cover;
}

.company-image{
    width:50%;
}

.company-name{
    position:absolute;
    left:140px;
    top: 210px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    color: #000000;

}

.company-text{
    position:absolute;
    left:40px;
    top: 230px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    width: 290px;
    height: 152px;
    line-height: 22px;
    text-align: justify;
    padding: 10px 20px;

    color: #4A4A4A;
}


.card-logo{
    width: 58px;
}

.card-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-left: 10px;
}

.title-wrapper{
    display: flex;
    padding-top: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
}

.card-body{
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.card-link{
    text-align: right;
    margin-top: 30px;
    margin-right: 20px;
}

.detail-cardlink{
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2779CC;
}










