.wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(247, 247, 247, 1);
}

.TitleWrapper {
    width: 100%;
    height: 246px;
    top: 0px;  
    background: linear-gradient(180deg, #2A7CCE 32.29%, #004DA9 100%);
    box-shadow: 0px 12px 29px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 146px 146px; 
}

.TitleWrapper > h1 {
    position: absolute;
    width: 100%;
    top: 159px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.ContentWrapper {
    display: flex;
    margin-top: 70px;
    padding-right: 100px;
    padding-left: 100px;
}
.FilterWrapper {
    width:25%;
}

.ResultsWrapper {
    width: 75%;
    margin-left: 50px;
}

.ResultsWrapper > h1 {
    text-align: center;
    margin-bottom: 40px;
}

.ResultWrapper {
    width: 100%;
    height: 160px;
    border-radius: 42px;
    display: flex;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
}
.InfoWrapper {
    background-color: rgba(217, 217, 217, 0.1);
    border-radius: 42px;
    padding: 15px 0 15px 110px;   
    margin-bottom: 25px;
    
    
}

.ResultTitle {
    font-weight: bold;
    Font-size: 18px ;
    margin-bottom: 10px;
}

.result-description {
    margin-top: 15px;
    margin-left: 20px;
}

.result-side-wrapper {
    width: 127px;
    height: 100%;
    background: linear-gradient(180deg, #F07300 -28.78%, #FEC619 118.31%);
    border-radius: 43px 0px 0px 37px;
}

.result-picture-wrapper {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: white;
    margin: auto;
    margin-top: 35px;
}

.result-logo > img {
    width: 100%;
    margin-top: 15px;
}

.result-detail {
    list-style: none;
}

[class^="icon"] {
    width: 25x;
    height: 25px;
    position: relative;
    top: 8px;
    margin-right: 10px;
}

.result-title {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
