.bg-header {
    position: absolute;
    width: 1440px;
    height: 441px;
    left: 0px;
    top: 0px;

    background: linear-gradient(180deg, #2A7CCE 32.29%, #004DA9 100%);
    box-shadow: 0px 12px 29px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 60px 60px;
}

.message-button {
    position: absolute;
    width: 206.55px;
    height: 46.37px;
    left: 1149px;
    top: 547.63px;

    background: linear-gradient(180deg, #2779CC 0%, #004DA9 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.profile-name {
    position: absolute;
    width: 379px;
    height: 27px;
    left: 107px;
    top: 536px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 73px;

    color: #000000;
}

.profile-title {
    position: absolute;
    width: 197px;
    height: 23px;
    left: 107px;
    top: 606px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;

    color: #2A7CCE;
}       

.desc-card {
    position: absolute;
    width: 1240px;
    height: 225px;
    left: 101px;
    top: 672px;

    background: #FFFFFF;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.3);
    border-radius: 26px;
}

.desc {
    position: absolute;
    width: 1073px;
    height: 116px;
    left: 177px;
    top: 742px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
}

.education-card {
    position: absolute;
    width: 587px;
    height: 459px;
    left: 101px;
    top: 952px;

    background: #FFFFFF;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.3);
    border-radius: 26px;
}

.experience-card {
    position: absolute;
    width: 587px;
    height: 459px;
    left: 755px;
    top: 952px;

    background: #FFFFFF;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.3);
    border-radius: 26px;
}

.title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    color: #2779CC;
}

