
.container-aboutus{
        width:100%;
        height: 2774px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        object-fit: contain;
        background: #F7F7F7;
}
.title-bg {
    /* Background Atas */

    position: absolute;
    width: 100%;
    height: 319px;
    left: 0px;
    top: 0px;

    background: linear-gradient(180deg, #2A7CCE 32.29%, #004DA9 100%);
    box-shadow: 0px 12px 29px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 146px 146px;
}

.titleaboutus {
    /* About Us */

    position: absolute;
    width: 300px;
    height: 78px;
    left:500px;
    top: 150px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 73px;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.visi {
    /* Judul Visi */

    position: absolute;
    width: 1247px;
    height: 129px;
    left: 50px;
    top: 409px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;

    color: #000000;
}

.isi-visi {
    /*Isi Visi*/

    position: absolute;
    width: 1080px;
    height: 173px;
    left: 140px;
    top: 492px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;

    color: #212121;
}

.latar {
    /*Judul Latar Belakang*/
    position: absolute;
    width: 1247px;
    height: 129px;
    left: 70px;
    top: 755px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;

    color: #000000;
}

.isi-latar {
    /*Isi Latar Belakang*/

    position: absolute;
    width: 1080px;
    height: 173px;
    left: 140px;
    top: 838px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;

    color: #212121;
}

.arti-bg {
    /*Background Tengah*/

    position: absolute;
    width: 100%;
    height: 656px;
    left: 0px;
    top: 1114px;

    background: linear-gradient(180deg, #FEC619 0%, #F9841A 100%);
    box-shadow: 0px 12px 29px rgba(0, 0, 0, 0.25);
}

.arti {
    /*Judul Logo*/

    position: absolute;
    width: 1247px;
    height: 129px;
    left: 60px;
    top: 1222px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;

    color: #142B6F;
}

.logo-arti {
    /*Lambang Bee A Student*/

    position: absolute;
    width: 572px;
    height: 221px;
    left: 58px;
    top: 1331px;

    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.69));
}

.isi-arti {
    /*Isi arti Logo*/

    position: absolute;
    width: 554px;
    height: 173px;
    left: 700px;
    top: 1345px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align:justify ;

    color: #142B6F;

}

.why {
    /*Judul Why*/

    position: absolute;
    width: 1247px;
    height: 129px;
    left: 50px;
    top: 1982px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;

    color: #000000;
}

.isi-why {
    /*Isi Why*/

    position: absolute;
    width: 1080px;
    height: 173px;
    left: 140px;
    top: 2065px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;

    color: #212121;
}

.container-dekor{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
    
}

.dekor {
    /*Dekorasi*/

    position: absolute;
    width:100%;
    left: 0px;
    top: 272px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


@media screen and (max-width: 960px) {
    .title-bg{
        width: 483px;
        height: 250px;
        left: 0px;
        top: 0px;

        background: linear-gradient(180deg, #2A7CCE 32.29%, #004DA9 100%);
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
        border-radius: 0px 0px 66px 66px;
    }

    .titleaboutus{
        width: 400px;
        height: 29px;
        left: 35px;
        top: 150px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 29px;
        /* identical to box height */
        
        text-align: center;
        
        color: #FFFFFF;
        
        text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    }

    .visi{
        
        position: absolute;
        width: 85px;
        height: 26px;
        left: 190px;
        top: 300px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 22px;
        text-align: center;

        color: #000000;
    }

    .isi-visi {
        position: absolute;
        width: 300px;
        height: 173px;
        left: 100px;
        top: 353px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        text-align: justify;

        color: #212121;

    }
        .latar{
            position: absolute;
            width: 400px;
            height: 100px;
            left: 40px;
            top: 660px;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 22px;
            text-align: center;

            color: #000000;
        }

        .isi-latar{
            position: absolute;
            width: 300px;
            height: 173px;
            left: 100px;
            top: 700px;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            text-align: justify;

            color: #212121;

        }

        .arti{
            position: absolute;
            width: 288.94px;
            height: 16.72px;
            left: 90px;
            top: 1150px;

            font-family: 'Inter';
            font-style: bold;
            font-weight: 700;
            font-size: 32px;
            line-height: 22px;
            text-align: center;

            color: #142B6F;
        }

        .arti-bg{
            position: absolute;
            width: 480x;
            height: 500px;
            left: 0px;
            top: 1114px;
        }
        
        .logo-arti{
            position: absolute;
            width: 162px;
            height: 63px;   
            left: 150px;
            top: 1201px;
        }

        .isi-arti{
            position: absolute;
            width: 350px;
            height: 106.84px;
            left: 70px;
            top: 1300px;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            text-align: justify;

            color: #142B6F;
        }

        .why{
            position: absolute;
            width: 450px;
            height: 300px;
            left: 13px;
            top: 1680px;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 35px;
            text-align: center;

            color: #000000;
        }

        .isi-why{
            position: absolute;
            width: 300px;
            height: 173px;
            left: 90px;
            top: 1800px;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            text-align: justify;

            color: #212121;

        }

        .container-dekor{
            width: 480px;
            height: 100vh;
            object-fit: cover;
            overflow: hidden;
            
        }

        .dekor{
            position: absolute;
            width: 100%;
            height:100%;
            left:0px;
            top: 272px;

            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }

        

    }

    


