.wrapper {
    width: 100%;
    height:1858px;
    background-color: rgba(247, 247, 247, 1);
}

.TitleWrapper {
    width: 100%;
    height: 246px;
    top: 0px;  
    background: linear-gradient(180deg, #2A7CCE 32.29%, #004DA9 100%);
    box-shadow: 0px 12px 29px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 146px 146px; 
}

.title-scholar {
    position: absolute;
    width: 100%;
    top: 159px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}




.scholar-list{
    position:absolute;
    left: 562px;
    top: 394px;
}

.FilterWrapper {
    width:25%;
    margin-top: 140px;
    margin-left: 50px;

}

.card-wrapper {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(254, 198, 25, 0.5);
    border-radius: 42px;
    border-radius: 20px;
    padding: 15px 0px 10px 50px;   
    margin-bottom: 25px;
    width: 700px;
    height: 110px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.scholar-name{
    font-weight: bold;
    Font-size: 18px ;
    margin-bottom: 10px;
    
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    color: #142B6F;
}

.scholar-detail{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;

    color: #142B6F;
    
}

.linkAlumnus{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 29px;
    text-align: center;

    color: #000000;

}

.faUserIcon{
    color:#142B6F
}

.searchBarScholar{
    text-align: center;
    justify-content: center;
    display: flex;

    position:absolute;
    top:-20px;
    left:-230px;


}

.search-Scholar{
    position: absolute;
    width: 340px;
    height: 46px;
    left: 280px;
    top: 400px;

    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 88.54%, #C5C4C4 100%);
    border-radius: 10px;
}